<div class="phone" data-key="{{id}}">
    <h5>
    <a {{#if @root.unlockOthers}}onclick="window.location.href = '/update?id={{id}}'" {{/if}}>
        {{fio}}
        {{number}}
    </a>
    <h5>
</div>